@model IEnumerable<Practical_Project_2.Models.UserPurchase>
@*@model string*@
@{
    ViewBag.Title = "Purchases History";
}
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<div class="products">
    <div id="historyTableContainer" class="container">
        <h3>Purchases History</h3>
        <table class="table table-hover">
            <tr>
                <th>Number Of Items</th>
                <th>Total Price</th>
                <th>Date and Time</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NumOfItems</td>
                    <td>@item.TotalPrice</td>
                    <td>@item.Date</td>
                </tr>
            }
        </table>
    </div>
</div>