@*model IEnumerable<Day2_MVC.Models.Human>*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
        </tr>
    }

    @foreach (var item in ViewBag.hm)
    {
        @*<tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
        </tr>*@
    }

    @using Day2_MVC.Models;
    @foreach (var item in ViewData["hm"] as List<Human>)
    {
        @*<tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
        </tr>*@
    }
</table>

<ul class="list-group">
    <li class="list-group-item">Name is @ViewData["Name"]</li>
    <li class="list-group-item">Age is @ViewData["age"]</li>
</ul>