<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@using Practical_Project_2.App_LocalResources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Moayad AL-Falahi" />
    <meta name="description" content="Super Market an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts" />
    <meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <meta property="og:title" content="Super Market">
    <meta property="og:description" content="ASP.NET MVC Web Application Developed by Moayad AL-Falahi">
    <meta property="og:image" content="http://www.moayad.somee.com/images/111.jpg">
    <title>@ViewBag.Title</title>
    @*<title>Super Market an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>*@
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-signin-client_id" content="542884463807-rt467rkcdguho1fuqdkqbnnm40f0guqn.apps.googleusercontent.com">
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <link href="~/css/shoopingcart.css" rel="stylesheet" />
    <!-- js -->
    @*<script src="~/js/jquery-1.11.1.min.js"></script>*@
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="~/css/@Resource.styleDir" rel="stylesheet" />
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>
<body>
    <!-- header -->
    <div class="agileits_header">
        <div class="container">
            <div class="agile-login">
                <ul>
                    @using Practical_Project_2.Models
                    @if (Session["profile"] != null)
                    {
                        <li>@Html.ActionLink(Resource.welcome + " " + (((User)Session["profile"]).Profile.FirstName) + " " + (((User)Session["profile"]).Profile.LastName), "Index")</li>
                        <li onclick="signOut();">@Html.ActionLink(Resource.logout, "Logout", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(Resource.login, "Login", "Home")</li>
                        <li>@Html.ActionLink(Resource.createAccount, "Register", "Home")</li>
                    }
                </ul>
            </div>
            @if (Session["role"] != null)
            {
                if (((string)Session["role"]) == "User")
                {
                    <div class="product_list_header">
                        <div class="col">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart">Cart (<span class="total-count"></span>)</button>
                            <button class="clear-cart btn btn-danger">Clear Cart</button>
                        </div>
                    </div>
                }
            }
            <div class="clearfix">
            </div>
        </div>
    </div>
    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left1">
                <ul class="phone_email">
                    <li><i class="fa fa-phone" aria-hidden="true"></i>@Resource.orderOrCall</li>

                </ul>
            </div>
            <div class="w3ls_logo_products_left">
                <h1><a href="#" onclick="return false">@Resource.superMarket</a></h1>
            </div>
            <div class="w3l_search">
                <form action="#" method="post">
                    <input type="search" name="Search" placeholder="@Resource.searchProduct" required="">
                    <button type="submit" class="btn btn-default search" aria-label="Left Align" onclick="return false">
                        <i class="fa fa-search" aria-hidden="true"> </i>
                    </button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- navigation -->
    <div class="navigation-agileits">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav">
                        @if (Session["role"] != null)
                        {
                            if (((string)Session["role"]) == "User")
                            {
                                <li>@Html.ActionLink("Purchase Products", "Index", "User")</li>
                                <li>@Html.ActionLink("Purchases History", "PurchasesHistory", "User")</li>
                                <li>@Html.ActionLink(@Resource.about, "About", "Home")</li>
                                <li>@Html.ActionLink(@Resource.contactUs, "Contact", "Home")</li>
                                <li>@Html.ActionLink(@Resource.faq, "FAQ", "Home")</li>
                            }
                            else if (((string)Session["role"]) == "Admin")
                            {
                                <li>@Html.ActionLink("Manage Products", "Index", "Admin")</li>
                                <li>@Html.ActionLink("Users Details", "UsersDetails", "Admin")</li>
                                <li>@Html.ActionLink(@Resource.about, "About", "Home")</li>
                                <li>@Html.ActionLink(@Resource.contactUs, "Contact", "Home")</li>
                                <li>@Html.ActionLink(@Resource.faq, "FAQ", "Home")</li>
                            }
                        }
                        else
                        {
                            <li>@Html.ActionLink(@Resource.home, "Index", "Home")</li>
                            <li>@Html.ActionLink(@Resource.viewProducts, "Products", "Home")</li>
                            <li>@Html.ActionLink(@Resource.about, "About", "Home")</li>
                            <li>@Html.ActionLink(@Resource.contactUs, "Contact", "Home")</li>
                            <li>@Html.ActionLink(@Resource.faq, "FAQ", "Home")</li>
                        }
                        <li class="lang">
                            <a href="#">@Resource.lang</a>
                            <ul class="nested-list">
                                <li class="ar">@Html.ActionLink("English", "SaveLanguageToCookies", "Home", new { lang = "en-US" }, null)</li>
                                <li class="en">@Html.ActionLink("عربي", "SaveLanguageToCookies", "Home", new { lang = "ar-OM" }, null)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- //navigation -->
    @RenderBody()
    @if (Session["role"] != null)
    {
        if (((string)Session["role"]) == "User")
        {
            <!-- Payment -->
            <link rel="shortcut icon" href="https://goSellJSLib.b-cdn.net/v1.6.0/imgs/tap-favicon.ico" />
            <link href="https://goSellJSLib.b-cdn.net/v1.6.0/css/gosell.css" rel="stylesheet" />
            <script type="text/javascript" src="https://goSellJSLib.b-cdn.net/v1.6.0/js/gosell.js"></script>
            <div id="root"></div>
            <!-- Modal -->
            <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="show-cart table">
                            </table>
                            <div>Total price: $<span class="total-cart"></span></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" id="orderNow" class="btn btn-primary">Order now</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                //Payment
                $("#orderNow").click(function () {
                    var count = $(".total-count").text();
                    if (parseInt(count) > 0) {
                        var total = $(".total-cart").text();
                        total = parseInt(total);
                        var data = [{
                            id: 1,
                            name: 'item1',
                            description: 'item1 desc',
                            quantity: '1',
                            amount_per_unit: '00.000',
                            discount: {
                                type: 'P',
                                value: '10%'
                            },
                            total_amount: '000.000'
                        },
                        {
                            id: 2,
                            name: 'item2',
                            description: 'item2 desc',
                            quantity: '2',
                            amount_per_unit: '00.000',
                            discount: {
                                type: 'P',
                                value: '10%'
                            },
                            total_amount: '000.000'
                        },
                        {
                            id: 3,
                            name: 'item3',
                            description: 'item3 desc',
                            quantity: '1',
                            amount_per_unit: '00.000',
                            discount: {
                                type: 'P',
                                value: '10%'
                            },
                            total_amount: '000.000'
                        }];

                        goSell.config({
                            containerID: "root",
                            gateway: {
                                publicKey: "pk_test_Vlk842B1EA7tDN5QbrfGjYzh",
                                merchantId: null,
                                language: "en",
                                contactInfo: true,
                                supportedCurrencies: "all",
                                supportedPaymentMethods: "all",
                                saveCardOption: false,
                                customerCards: true,
                                notifications: 'standard',
                                callback: (response) => {
                                    console.log('response', response);
                                },
                                onClose: () => {
                                    console.log("onClose Event");
                                },
                                backgroundImg: {
                                    url: 'imgURL',
                                    opacity: '0.5'
                                },
                                labels: {
                                    cardNumber: "Card Number",
                                    expirationDate: "MM/YY",
                                    cvv: "CVV",
                                    cardHolder: "Name on Card",
                                    actionButton: "Pay"
                                },
                                style: {
                                    base: {
                                        color: '#535353',
                                        lineHeight: '18px',
                                        fontFamily: 'sans-serif',
                                        fontSmoothing: 'antialiased',
                                        fontSize: '16px',
                                        '::placeholder': {
                                            color: 'rgba(0, 0, 0, 0.26)',
                                            fontSize: '15px'
                                        }
                                    },
                                    invalid: {
                                        color: 'red',
                                        iconColor: '#fa755a '
                                    }
                                }
                            },
                            customer: {
                                id: null,
                                first_name: "First Name",
                                middle_name: "Middle Name",
                                last_name: "Last Name",
                                email: "demo@email.com",
                                phone: {
                                    country_code: "965",
                                    number: "99999999"
                                }
                            },
                            order: {
                                amount: total,
                                currency: "OMR",
                                items: data,
                                shipping: null,
                                taxes: null
                            },
                            transaction: {
                                mode: 'charge',
                                charge: {
                                    saveCard: false,
                                    threeDSecure: true,
                                    description: "Test Description",
                                    statement_descriptor: "Sample",
                                    reference: {
                                        transaction: "txn_0001",
                                        order: "ord_0001"
                                    },
                                    metadata: {},
                                    receipt: {
                                        email: false,
                                        sms: true
                                    },
                                    redirect: "https://localhost:44302/User/PaymentSuccess",// https 44302 - http 8003 - http://moayad.somee.com/User/PaymentSuccess
                                    post: null,
                                }
                            }
                        });
                        goSell.openLightBox();
                    }
                });
            </script>
        }
    }
    <!-- //footer -->
    <div class="footer">
        <div class="container">
            <div class="w3_footer_grids">
                <div class="col-md-4 w3_footer_grid">
                    <h3>@Resource.contact</h3>

                    <ul class="address">
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
                    </ul>
                </div>
                <div class="col-md-4 w3_footer_grid">
                    <h3>@Resource.info</h3>
                    <ul class="info">
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i>@Html.ActionLink(@Resource.about, "About", "Home")</li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i>@Html.ActionLink(@Resource.contactUs, "Contact", "Home")</li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i>@Html.ActionLink(@Resource.faq, "FAQ", "Home")</li>
                    </ul>
                </div>
                <div class="col-md-4 w3_footer_grid">
                    <h3>@Resource.profile</h3>
                    <ul class="info">
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i>@Html.ActionLink(@Resource.login, "Login", "Home")</li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i>@Html.ActionLink(@Resource.createAccount, "Register", "Home")</li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="footer-copy">

            <div class="container">
                <p>@Resource.footer <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
        </div>

    </div>
    <div class="footer-botm">
        <div class="container">
            <div class="w3layouts-foot">
                <ul>
                    <li><a href="#" class="w3_agile_facebook" onclick="return false"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="agile_twitter" onclick="return false"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_dribble" onclick="return false"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_vimeo" onclick="return false"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="payment-w3ls">
                <img src="~/images/card.png" alt=" " class="img-responsive">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>

    <!-- top-header and slider -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- main slider-banner -->
    <script src="~/js/skdslider.min.js"></script>
    <link href="~/css/skdslider.css" rel="stylesheet">
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#demo1').skdslider({ 'delay': 5000, 'animationSpeed': 2000, 'showNextPrev': true, 'showPlayButton': true, 'autoSlide': true, 'animationType': 'fading' });
            jQuery('#responsive').change(function () {
                $('#responsive_wrapper').width(jQuery(this).val());
            });
        });
    </script>
    <!-- //main slider-banner -->
    <script>
        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/shoopingcart.js"></script>
    <script src="~/js/StringBuilder.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>