@*model IEnumerable<Day2_MVC.Models.Human>*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
        </tr>
        <tr>
            <td>@item.Age</td>
        </tr>
    }
    @*@foreach (var item in ViewBag.hm)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
            <tr>
                <td>@item.Age</td>
            </tr>
        }
        @using Day2_MVC.Models;
        @foreach (var item in ViewData["hm"] as List<Human>)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
            <tr>
                <td>@item.Age</td>
            </tr>
        }*@
</table>

<ul>
    <li>@ViewData["Name"]</li>
    <li>@ViewData["age"]</li>
</ul>